* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}
#root {
  margin-top: 20px;
  margin: 40px auto;
  width: 970px;
}
.header {
  background-color: #17aeb7;
  text-align: center;
  color: aliceblue;
  padding: 20px;
}
.body {
  height: 500px;
  background-color: aliceblue;
  padding: 10px;
}
.form {
  width: 80%;
  margin: 10px auto;
}
fieldset {
  padding: 20px;
  border: 3px solid #17aeb7;
  border-radius: 5px;
}
legend {
  width: 90%;
  background: none;
  border: 3px solid #17aeb7;
  padding: 8px;
  margin: auto;
  color: red;
  font-weight: bold;
  border-radius: 20px;
  letter-spacing: 0.8px;
}
#error {
  margin-left: 10px;
}
.input {
  padding: 20px;
}
label {
  color: #17aeb7;
  font-weight: bold;
  font-size: 22px;
}
.colon {
  font-weight: bold;
  font-size: 26px;
  color: #17aeb7;
  margin-right: 60px;
}
input {
  padding: 10px;
  background: none;
  border: 2px solid #17aeb7;
  outline: none;
  color: #17aeb7;
  font-weight: bold;
  border-radius: 20px;
  width: 260px;
  text-align: center;
}
input::placeholder {
  color: #17aeb7;
  opacity: 0.4;
}
.btn {
  margin-left: 30px;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: 2px solid #17aeb7;
  outline: none;
  color: #17aeb7;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
}
.btn:hover {
  cursor: pointer;
  background-color: #17aeb7;
  color: aliceblue;
}
.footer {
  background-color: #17aeb7;
  text-align: center;
  color: aliceblue;
  padding: 10px;
}
